
@model Root

<h2>Weather Details</h2>
<p>Date: @Model.list[0].dt</p>
<p>Temperature: @Model.list[0].main.temp &deg;C</p>
<p>Humidity: @Model.list[0].main.humidity %</p>
<p>Wind Speed: @Model.list[0].wind.speed m/s</p>
<p>Weather Type: @Model.list[0].weather[0].description</p>

